.#{$project-id}-l-global {

  &__main-container {
    display: block;
  }

  &__main-content {

    &--full-width {
      width: 100%;
      margin: 0;
    }

    &--centered {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  &__outer-container {
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid red;
  }

  &__inner-container {
    margin: 0 auto;
    max-width: 1200px;
    border: 1px solid red;
  }
}
