.#{$project-id}-l-header {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    position: relative;
    &__top {
        display: flex;
        height: 150px;
    }

    &__sticky {
        position: relative;
        background-color: $netar-main-yellow;
        padding: 12px;
        &--fixed {
            position: fixed;
            width: 100%;
            top: 0;
            transition:all .2s ease;
        } 
    }

    &__nav {
        display: flex;
    }

    &__nav-a {
        text-decoration: none;
        margin: 0 8px;
    }

}